Django==5.2.10
djangorestframework==3.16.1
django-filter==25.1
django-simple-history==3.10.1
django-import-export==4.1.1
Pillow==12.1.0
flake8==7.1.1
pandas==2.2.3
openpyxl==3.1.5
sentry-sdk==2.19.2
django-silk==5.3.0
celery==5.4.0
redis==5.2.1
social-auth-app-django==5.4.2
gunicorn==23.0.0
whitenoise==6.8.2
python-dotenv==1.0.1
